<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyRepotsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginOTP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JEEAdvancedPYP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JeeMainPreviousPaperTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JEEAdvancedMock</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyEditProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ResetPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JEEMainMock</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NeetPreviousPaperTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NeetInfinityTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Browserstacksetup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>methodsetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EndMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BSclosebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
