<h2>Methods that were not run</h2><table>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.JEEAdvancedPYP</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.JEEAdvancedMock</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.JeeMainPreviousPaperTest</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.ResetPassword</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.JEEMainMock</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.VerifyRepotsPage</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.NeetInfinityTest</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.LoginOTP</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.NeetPreviousPaperTest</td></tr>
<tr><td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow.VerifyEditProfile</td></tr>
</table>