<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9e78c">  <td>21/12/09 12:45:20</td>   <td>0</td> <td title="&lt;&lt;InfinityTestFlow.endSuite()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@51c668e3]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1082309267</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>21/12/09 12:45:19</td>   <td>-1518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@51c668e3]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@1082309267</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>21/12/09 12:43:24</td>   <td>-115770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.Browserstacksetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@51c668e3]">&gt;&gt;Browserstacksetup</td> 
<td>&nbsp;</td>  <td>main@1082309267</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>21/12/09 12:43:30</td>   <td>-109608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.LoginPage(java.util.HashMap)[pri:2, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@51c668e3]">LoginPage</td> 
  <td>main@1082309267</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>21/12/09 12:43:30</td>   <td>-109632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@51c668e3]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@1082309267</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>21/12/09 12:45:19</td>   <td>-1273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.BSclosebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@51c668e3]">&lt;&lt;BSclosebrowser</td> 
<td>&nbsp;</td>  <td>main@1082309267</td>   <td></td> </tr>
</table>
