<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyRepotsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PreviousPaperTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginOTP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JEEMains</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InfinityTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RegisterUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JeeMainPreviousPaperTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyEditProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ResetPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>methodsetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EndMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.infinitylearn.infinity.uitest.Admin.InfinityTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginPageTC</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ScholarShip</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdmissionNoLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EditProfileTC</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MockTstTC</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>methodsetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EndMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
