<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:32</td>   <td>240509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestCases.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:49:57</td>   <td>206333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:33:43</td>   <td>-767588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.InfinityTest(java.util.HashMap)[pri:3, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">InfinityTest</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:32</td>   <td>240509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestCases.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:49:57</td>   <td>206333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:32:26</td>   <td>-844609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.LoginPage(java.util.HashMap)[pri:2, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">LoginPage</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:00</td>   <td>209090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestCases.ScholarShip(java.util.HashMap)[pri:5, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">ScholarShip</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:00</td>   <td>209089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestCases.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:00</td>   <td>209089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestCases.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:46:38</td>   <td>7033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestCases.LoginPageTC(java.util.HashMap)[pri:1, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">LoginPageTC</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:48:16</td>   <td>104823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestCases.EditProfileTC(java.util.HashMap)[pri:2, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">EditProfileTC</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:49:57</td>   <td>206333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:50:32</td>   <td>240556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:50:36</td>   <td>244805</td> <td title="&lt;&lt;InfinityTestFlow.endSuite()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:32</td>   <td>240509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestCases.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:49:45</td>   <td>193835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestCases.AdmissionNoLogin(java.util.HashMap)[pri:4, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">AdmissionNoLogin</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:48:52</td>   <td>141235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestCases.MockTstTC(java.util.HashMap)[pri:3, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">MockTstTC</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:41:59</td>   <td>-271988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.JEEMains(java.util.HashMap)[pri:8, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">JEEMains</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:41:22</td>   <td>-309070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.ResetPassword(java.util.HashMap)[pri:7, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">ResetPassword</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:40:51</td>   <td>-339778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.LoginOTP(java.util.HashMap)[pri:6, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">LoginOTP</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:50:32</td>   <td>240556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:37:10</td>   <td>-560531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.PreviousPaperTest(java.util.HashMap)[pri:4, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">PreviousPaperTest</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:50:32</td>   <td>240556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:00</td>   <td>209089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestCases.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:32:01</td>   <td>-869891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.VerifyEditProfile(java.util.HashMap)[pri:1, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">VerifyEditProfile</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.JeeMainPreviousPaperTest(java.util.HashMap)[pri:10, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">JeeMainPreviousPaperTest</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:00</td>   <td>209089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestCases.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:00</td>   <td>209089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestCases.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:50:32</td>   <td>240556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:32</td>   <td>240509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestCases.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:49:57</td>   <td>206333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:40:18</td>   <td>-372785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfinityTestFlow.VerifyRepotsPage(java.util.HashMap)[pri:5, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">VerifyRepotsPage</td> 
  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:44:15</td>   <td>-135634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfinityTestFlow.methodsetup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:49:57</td>   <td>206333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:50:32</td>   <td>240556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.closebrowser()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:36</td>   <td>244757</td> <td title="&lt;&lt;InfinityTestCases.endSuite()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>21/09/20 18:46:31</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestFlow.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="e696b9">  <td>21/09/20 18:50:32</td>   <td>240509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InfinityTestCases.EndMethod()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestCases@2d0399f4]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>21/09/20 18:44:13</td>   <td>-138381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.infinitylearn.infinity.uitest.Admin.InfinityTestFlow@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2003147568</td>   <td></td> </tr>
</table>
